<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372284082503-1t93penma582npo0s9c7jumvibaeul3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372284082503-1t93penma582npo0s9c7jumvibaeul3i</string>
	<key>API_KEY</key>
	<string>AIzaSyBqGQ64duT09uv8RO0ezGk4moy7W0Mxsjg</string>
	<key>GCM_SENDER_ID</key>
	<string>372284082503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ananda.kriyaban</string>
	<key>PROJECT_ID</key>
	<string>ananda-meditation</string>
	<key>STORAGE_BUCKET</key>
	<string>ananda-meditation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372284082503:ios:d770d6f7ca26a391</string>
	<key>DATABASE_URL</key>
	<string>https://ananda-meditation.firebaseio.com</string>
</dict>
</plist>